form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  // overflow: hidden;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.para {
  margin: 3px;
  // border: red 1px solid;
}
.example-full-width {
  width: 100%;
}
.heading {
  align-items: center;
  background: #ffffff;
  border: 0 solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1a202c;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 4px;
  cursor: pointer;

  touch-action: manipulation;
}
.test-cont {
  margin-top: 10px;
  // border: solid red 1px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cancel-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btn-2 {
  background-color: #b0bec5;
  color: black;
}

.icon {
  color: #b0bec5;
  cursor: pointer;
  transform: scale(1.5);
}
